
<div class="container-fluid">
  

<h3>User is on page 1 here</h3>

<button type="button" routerLink="/page2" class="btn btn-success">Click here for Page2</button>

</div>

<div class="container">
    <div class="row">
    <div class="col-">    
      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="50px" type="ball-spin-clockwise">  
        <h1 style="color:whitesmoke">Please Wait. </h1>  
      </ngx-spinner> 
    <h2>Api call for user data</h2>       
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>User-Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" >
        <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
</div>
 